/* ~~~~~~~~~ RESET    CODE ~~~~~~~~~~~~ */
* {
    margin: 0px;
    padding: 0px;
    scrollbar-width: thin;
    box-sizing: border-box;
}

:root {
    --ascentColor: #2294ed;
    --ascentColorDark: #1d69a3;
    --primaryTextColor: #183b56;
    --secondaryTextColor: #577592;
}

body {
    color: var(--primaryTextColor);
    font-family: "poppins", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-family: "Roboto", sans-serif;
    color: var(--secondaryTextColor);
}

a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.hover-link {
    color: var(--primaryTextColor);
}

.hover-link:hover {
    color: var(--ascentColor);
    transition: 0.2s ease-out;
}

.flex {
    display: flex;
    align-items: center;
}

/* ~~~~~~~~~~~ UTILITY  CLASSES ~~~~~~~~~~~~~~ */
.small-bold-text {
    font-size: 1rem;
    font-weight: 600;
}

.container {
    margin: auto;
    overflow: hidden;
    max-width: 1180px;
    padding-inline: 20px;
}

.container-overflowed {
    overflow: visible;
}

.primary-button {
    font-weight: 700;
    padding: 14px 24px;
    border-radius: 10px;
    transition: 0.2s ease-out;
    color: white !important;
    background-color: var(--ascentColor);
}

.primary-button:hover {
    background-color: white;
    color: var(--ascentColor) !important;
    box-shadow: 0 0 6px 2px var(--ascentColor);
}

.secondary-button {
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 10px;
    transition: 0.2s ease-out;
    border: 1px solid var(--ascentColor);
}

.secondary-button:hover {
    transition: 0.2s ease-out;
    border: 1px solid var(--ascentColor);
    color: var(--ascentColor) !important;
    box-shadow: 0 0 6px 1px var(--ascentColor);
}

/* NEWS & BANNER */
.banner {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.top-banner {
    background-color: var(--secondaryTextColor);
}

/* NAV BAR CLASSES */
nav {
    top: 0;
    z-index: 999;
    position: sticky;
}

.main-nav {
    padding: 2px;
    font-weight: 600;
    padding-left: 12px;
    backdrop-filter: blur(30px);
    justify-content: space-between;
}

.company-logo {
    width: 92px;
}

.company-logo img {
    width: 100%;
    margin-top: 6px;
    border-radius: 16px;
    transition: 0.6s ease-in-out;
    box-shadow: 0 0 4px 6px slateblue;
}

.company-logo img:hover {
    scale: 1.04;
    box-shadow: 0 0 3px 6px palevioletred;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    gap: 30px;
    justify-content: end;
}

.nav-toggle {
    display: none;
}

/* HEADER CLASSES */

header {
    padding: 50px 20px 0;
}

.header-main {
    gap: 50px;
    justify-content: center;
}

.header-right img:hover {
    scale: 1.1;
    border-radius: 18px;
    box-shadow: 0 0 9px 5px #a112ff;
}

.header-left {
    max-width: 40vw;
}

.header-left h2 {
    margin-top: 20px;
}

.header-btn {
    margin-top: 30px;
}

.header-right img {
    width: 100%;
    transition: 0.8s ease-in-out;
}

/* COMPANIES SECTION */

.companies-heading {
    text-align: center;
    margin: 70px auto 30px auto;
}

.company-logos {
    justify-content: space-evenly;
    margin: auto 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.company-logos img {
    height: 60px;
    transition: all 0.5s ease-in-out;
}

.company-logos img:hover {
    scale: 1.5;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 6px;
}

.logo-1:hover {
    box-shadow: 0 0 6px 2px #a112ff;
}

.logo-2:hover {
    box-shadow: 0 0 6px 2px #29b6f6;
}

.logo-3:hover {
    box-shadow: 0 0 6px 2px #2496ed;
}

.logo-4:hover {
    box-shadow: 0 0 6px 2px #ff5722;
}

.logo-5:hover {
    box-shadow: 0 0 6px 2px #000000;
}

.logo-6:hover {
    box-shadow: 0 0 6px 2px #0277bd;
}

.logo-7:hover {
    box-shadow: 0 0 6px 2px #a112ff;
}

/* FEATURES SECTION */
/* features header */
.features-section {
    margin: 70px 20px 0;
}

.features-heading {
    text-align: center;
}

.features-btn {
    color: var(--ascentColor);
    margin-top: 12px;
}

.features-btn img {
    position: relative;
    top: 5px;
    left: 9px;
}

.features-btn:hover {
    color: #ee5a36 !important;
}

/* feature cards */
.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    background-color: #ecedec;
    margin-top: 20px;
    padding: 20px;
    border-radius: 22px;
}

.feature-cards {
    flex-direction: column;
    gap: 12px;
    max-width: 30%;
    text-align: center;
}

.feature-cards>img {
    width: 40px;
    border-radius: 10px;
}

.fcard-1 {
    color: #330000;
}

.fcard-2 {
    color: #31a7fe;
}

.fcard-3 {
    color: #7963e6;
}

#fcard-3-image {
    border-radius: 14px;
}

.fcard-4 {
    color: #000000;
}

.fcard-5 {
    color: #b146c2;
}

.fcard-6 {
    color: #4479a1;
}

.fcard-7 {
    color: #d63534;
}

.fcard-8 {
    color: #d7ba31;
}

.fcard-9 {
    color: #3b77a7;
}

/* BIG FEATURES SECTION */
.big-feature-section {
    padding: 30px 20px;
}

.big-feature-container-1,
.big-feature-container-2,
.big-feature-container-3 {
    gap: 30px;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.8s ease-in-out;
}

.big-feature-container-1 {
    background-color: #c6c9c6;
}

.big-feature-container-1:hover {
    background-color: #e5e6ea;
}

.big-feature-container-2 {
    background-color: #de955b;
}

.big-feature-container-2:hover {
    background-color: #ffbf8a;
    transition: 0.6s ease-in-out;
}

.big-feature-container-3 {
    background-color: #ff99ac;
}

.big-feature-container-3:hover {
    background-color: #ff607c;
    transition: 0.6s ease-in-out;
}

.feature-img img {
    width: 100%;
    border-radius: 7px;
}

.feature-img {
    transition: all 0.6s ease-in-out;
}

.feature-img:hover {
    scale: 1.07;
}

.features-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* EXAMPLES AREA */
.examples-area {
    margin-top: 20px;
    background: linear-gradient(rgb(34, 148, 237, 0.5), rgb(34, 148, 237, 0.9));
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    transition: all 0.8s ease-in-out;
    flex-wrap: wrap;
}

.examples-area:hover {
    scale: 1.05;
}

.example-cards {
    min-width: 23%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
}

.example-cards:hover {
    scale: 1.05;
}

.example-cards-heading {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: palevioletred;
}

.exCard-1 {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8)), url(../img/ExampleSectionImages/a\ green\ library.jpg);
    background-size: cover;
}

.exCard-1 h3 {
    color: paleturquoise;
}

.exCard-2 {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8)), url(../img/ExampleSectionImages/an\ ai\ skull\ image.jpg);
    background-size: 100%;
}

.exCard-2 h3 {
    color: rgb(220, 253, 169);
}

.exCard-3 {
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6)), url(../img/ExampleSectionImages/my\ programming\ bench.jpg);
    background-size: 100%;
}

.exCard-3 h3 {
    color: white;
}

.exCard-4 {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8)), url(../img/ExampleSectionImages/a\ robot\ and\ a\ man.jpg);
    background-size: 100%;
}

.exCard-4 h3 {
    color: rgb(255, 154, 154);
}

/* CTA SECTION */

.cta-allSpace {
    margin-top: 26px;
    background-color: #000000;
    border-radius: 32px;
    flex-direction: column;
    gap: 26px;
    color: white;
    padding: 52px 12px 52px 12px;
    transition: all 1.5s ease-in-out;
}

.cta-allSpace:hover {
    border-radius: 16px;
    background-color: pink;
    color: var(--primaryTextColor);
}

.cta-btn {
    border-radius: 100px;
    color: white !important;
    background-color: palevioletred;
    box-shadow: 0 0 16px 6px palevioletred;
    transition: 1s ease-in-out;
}

.cta-btn:hover {
    scale: 1.2;
    color: white !important;
    background-color: palevioletred;
    box-shadow: 0 0 16px 6px palevioletred;
}

/* FOOTER SECTION */

footer {
    padding-block: 80px;
    background-color: #ebf2fa;
    border-bottom: 0;
    border-radius: 200px 200px 0 0;
    transition: all 0.8s ease-in-out;
}

footer:hover {
    background-color: #a6cce2;
}

.footer-section {
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

/* SUB FOOTER SECTION */

.hover-link img {
    width: 16px;
}

.subFooter {
    background-color: #b9cde4;
    padding: 12px;
}

.subFooter-container {
    justify-content: center;
    gap: 30px;
}